.not_found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  &__container {
    background-color: var(--color-black-5);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__title {
    font-size: 18rem;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
    display: inline-block;
    background-image: linear-gradient(145deg, var(--color-primary), var(--color-pink));
  }
  &__subtitle {
    color: var(--color-white);
    font-size: 3.6rem;
    margin-top: -7.2rem;
  }
  &__text {
    color: var(--color-gray);
    font-size: 1.4rem;
    margin: 2.4rem auto;
  }
  &__link {
    &,
    &:visited,
    &:active {
      font-size: 2.2rem;
      background-color: var(--color-red-2);
      color: var(--color-white);
      border: 0.2rem solid var(--color-red-2);
      box-shadow: 0 1rem 1.5rem 0 var(--color-black-6);
      display: flex;
      margin: 0 auto;
      width: max-content;
      padding: 1.2rem 3.6rem;
      border-radius: 0.6rem;
    }
  }
}
