@import '../../mixin';

.about {
  &__item {
    padding: 7.2rem 0;
  }
  &__about {
    direction: rtl;

    &__title {
      text-align: center;
      font-weight: normal;
      font-size: 3.6rem;
      margin-bottom: 3.6rem;
    }
    &__text {
      font-size: 1.6rem;
      line-height: 1.8;
      color: var(--color-gray-4);
    }
  }
  &__fact {
    &__title {
      margin-bottom: 3.6rem;
      font-size: 3.6rem;
      font-weight: normal;
    }
    &__item {
      width: 33.333%;

      padding: 0 1.8rem;

      &__title {
        font-size: 4.2rem;
        text-align: center;
      }
      &__count {
        color: var(--color-pink);
      }
      &__plus {
        position: relative;
        top: -0.4rem;
        color: var(--color-pink);
      }
      &__text {
        text-align: center;
        font-size: 1.6rem;
        color: var(--color-gray-4);
      }
    }
  }
}

@include res(tab-port) {
  .about {
    &__fact {
      &__title {
        margin-bottom: 2.4rem;
      }
      &__item {
        width: 100%;
        margin: 2.4rem 0;
      }
    }
  }
}
