@import '../../mixin';
@import '../../animation';
.home {
  background-color: var(--color-white);
  &__item {
    &__title {
      font-weight: bold;
      margin: 2rem auto;
      font-size: 3.2rem;
      text-align: center;
    }
  }
  &__intro {
    width: 100%;
    overflow: hidden;
    position: relative;

    &__video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 150%;
      min-height: 100%;
      &__container {
        position: relative;
        text-align: center;
        height: 80rem;
        max-width: 100%;

        overflow: hidden;
      }
      &__box {
        height: 100%;
        width: 100%;
      }
    }
    &__title {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: var(--color-white);
      text-align: center;
      // font-size: 3.6rem;
    }
  }
  &__products {
    margin: 8rem 0 !important;
    &__all {
      width: 100%;
      display: flex;
      justify-content: center;
      &__link {
        &,
        &:visited,
        &:active {
          margin-top: 3.6rem;
          font-size: 2.4rem;
          cursor: pointer;
          transition: all 0.2s ease-out;
          display: inline-block;
          padding: 1.2rem 3.6rem;
          border-radius: 0.6rem;

          background: var(--color-white);
          color: var(--color-red-2);
          border: 0.1rem solid var(--color-red-2);

          &:hover {
            background: linear-gradient(
              145deg,
              var(--color-primary),
              var(--color-pink)
            );
            color: var(--color-white);
            border: 0.1rem solid
              var(--color-white);

            transform: translateY(-0.4rem);
          }
        }
      }
    }
  }
  &__logos {
    margin: 8rem 0;
  }
}

@include res(big-desk) {
  .home {
    &__intro {
      &__video {
        width: 120%;
      }
    }
  }
}

@include res(tab-land) {
  .home {
    &__intro {
      &__video {
        width: 220%;
      }
    }
  }
}

@include res(tab-port) {
  .home {
    &__intro {
      &__video {
        width: 320%;
      }
    }
    &__products {
      margin: 4.8rem 0 !important;
    }
  }
}

@include res(phone) {
  .home {
    &__intro {
      &__video {
        width: 350%;
        &__container {
          height: 60rem;
        }
      }
    }
  }
}

.container {
  padding: 1rem;
}
