@import '../../mixin';
@import '../../animation';
.home {
  background-color: var(--color-white);
  &__intro {
    width: 100%;
    overflow: hidden;
    position: relative;

    &__video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 150%;
      min-height: 100%;
      &__container {
        position: relative;
        text-align: center;
        height: 80rem;
        max-width: 100%;

        overflow: hidden;
      }
      &__box {
        height: 100%;
        width: 100%;
      }
    }
    &__title {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: var(--color-white);
      text-align: center;
      // font-size: 3.6rem;
    }
  }
}

@include res(big-desk) {
  .home {
    &__intro {
      &__video {
        width: 120%;
      }
    }
  }
}

@include res(tab-land) {
  .home {
    &__intro {
      &__video {
        width: 220%;
      }
    }
  }
}

@include res(tab-port) {
  .home {
    &__intro {
      &__video {
        width: 320%;
      }
    }
  }
}

@include res(phone) {
  .home {
    &__intro {
      &__video {
        width: 350%;
        &__container {
          height: 60rem;
        }
      }
    }
  }
}

.container {
  padding: 1rem;
}
