@import '../mixin';

.footer {
  &__action {
    position: relative;
    background: linear-gradient(
      145deg,
      var(--color-primary),
      var(--color-pink)
    );
    height: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-white);
    &::before {
      background-image: url('/images/pattern-1.png');
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      content: '';
      opacity: 0.5;
      pointer-events: none;
    }
    &__container {
      z-index: 1;
    }
    &__span {
      font-size: 2.4rem;
      margin-bottom: 3.6rem;
    }
    &__title {
      font-size: 6.4rem;
      margin-bottom: 3.6rem;
    }
    &__btn {
      &,
      &:visited,
      &:active {
        color: var(--color-white);
        border: 0.1rem solid var(--color-white);
        border-radius: 0.4rem;
        font-size: 2.4rem;
        cursor: pointer;
        transition: all 0.2s ease-out;
        display: inline-block;
        padding: 1.2rem 3.6rem;
      }
      &:hover {
        background-color: var(--color-white);
        color: var(--color-pink);
        transform: translateY(-0.8rem);
      }
    }
  }
  &__down {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    padding: 3rem 4.8rem;
    position: relative;
    background: url('/images/bg-image-1.jpg') no-repeat;
    background-size: cover;
    background-position: 50%;
    z-index: 1;
    color: var(--color-gray);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      opacity: 0.6;
      background-color: var(--color-black);
    }
  }

  &__logo {
    height: 6.6rem;
    width: auto;
    &__container {
      margin-right: auto;
    }
  }
  &__social {
    display: flex;
    align-items: center;

    justify-content: center;
    &__item {
      &,
      &:visited,
      &:active {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        line-height: 4.4rem;
        font-size: 2rem;
        color: var(--color-gray);
        border: 0.1rem solid var(--color-gray);
        border-radius: 50%;
        margin: 0 0.5rem;
        transition: all 0.2s ease-out;
      }
      &:hover {
        transform: translateY(-0.8rem);
        border-color: var(--color-red-2);
        background-color: var(--color-red-2);
      }
    }
  }
  &__copyright {
    margin-left: auto;
    &__p {
      font-size: 1.4rem;
      text-align: right;
    }
  }
}

@include res(tab-land) {
  .footer {
    &__action {
      height: 35rem;
      &__span {
        font-size: 2rem;
      }
      &__title {
        font-size: 4.4rem;
      }
      &__btn {
        &,
        &:visited,
        &:active {
          font-size: 2rem;
          padding: 0.8rem 3.2rem;
        }
      }
    }
    &__down {
      flex-wrap: wrap;
      height: 20rem;
    }
    &__logo__container {
      width: 50%;
    }
    &__social {
      width: 50%;
    }
    &__copyright {
      margin-top: 3.2rem;
      width: 100%;
      &__p {
        text-align: center;
      }
    }
  }
}

@include res(phone) {
  .footer {
    &__down {
      height: 30rem;
    }
    &__logo__container,
    &__social {
      width: 100%;
      text-align: center;
    }
  }
}
